<div class="profile">
	<div class="container">
		<div class="profile-information">
		<h5 class="name">
			<%= @user.username %><br />

		</h5>

		<h6>
			<span class="glyphicon glyphicon glyphicon-briefcase" aria-hidden="true"></span>  photography
		</h6>
		</div>
	</div>

	<div class="container">
		<% unless current_user == @user %>
		<%= link_to 'Project Proposal', new_message_path(to: @user.id), class: 'btn btn-primary btn-block ' %>
		<% end %>
	</div>

<hr />

<div class="container">
	<h4>Location</h4>
</div>


<div class="container">
	<h4>About</h4>
</div>

<div class="container">
	<h4>Connection</h4>
	<div class="col-md-12">
	    <ul class="social-network social-circle">
	        <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
	        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
	       	<li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
	    </ul>				
	</div>
</div>

</div>















