// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar {
	width: 100%;
	height: 30px;
	background-color: #98bf21;
}

.navmenu a {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  line-height: 1.7;
}

.navmenu a:hover {
	text-decoration: none;
}